<%= error_messages_for(f.object) %>

<div class="field">
  <%= f.label :name %><br>
  <%= f.text_area(:name, :size => '40x10') %>
</div>
<div class="field">
  <%= f.label :position %><br>
  <%= f.select(:position, 1..@section_count) %>
</div>
<div class="field">
  <%= f.label :visible %><br>
  <%= f.check_box(:visible) %>
</div>
<div class="field">
  <%= f.label :content_type %><br>
  <%= f.radio_button(:content_type, 'text') %> Text
  <%= f.radio_button(:content_type, 'HTML') %> HTML
</div>
<div class="field">
  <%= f.label :content %><br>
  <%= f.text_area(:content, :size => '40x10') %>
</div>
<div class="field">
  <%= f.label :image %><br>
  <%= f.file_field :image %>
  <% if f.object.image? %>
    <%= image_tag f.object.image.thumb.url %>
    <%= f.label :remove_image %>
    <%= f.check_box :remove_image %>
  <% end %>
</div>
<div class="field">
  <%= f.label :audio %><br>
  <%= f.file_field :audio %>
  <% if f.object.audio? %>
    <%= f.label :remove_audio %>
    <%= f.check_box :remove_audio %>
  <% end %>
</div>
<div class="field">
  <%= f.label :video %><br>
  <%= f.file_field :video %>
  <% if f.object.video? %>
    <%= f.label :remove_video %>
    <%= f.check_box :remove_video %>
  <% end %>
</div>