<%= error_messages_for(f.object) %>

<div class="field">
  <%= f.label :name %><br>
  <%= f.text_field(:name) %>
</div>
<div class="field">
  <%= f.label :position %><br>
  <%= f.select(:position, 1..@subject_count) %>
</div>
<div class="field">
  <%= f.label :visible %><br>
  <%= f.check_box(:visible) %>
</div>
<div class="field">
  <%= f.label :created_at %><br>
  <%= f.datetime_select(:created_at, order: [:month, :day, :year]) %>
</div>
