<% @page_title = @page.name %>

<h2><%= @page.name %></h2>

<% @page.sections.visible.sorted.each do |section| %>
  <div class="section-item">
    <div class="section-thumb">
      <%= image_tag section.image? ? section.image_url(:thumb) : @page.image_url(:thumb) %>
    </div>
    <div class="section-content">
      <h3><%= section.name %></h3>
      <% case section.content_type %>
      <% when 'HTML' %>
        <%= raw(sanitize(section.content, :tags => ['strong', 'em', 'a'])) %>
      <% when 'text' %>
        <%= simple_format(section.content) %>
      <% end %>
      <% if section.audio? %>
        <%= 'Filename: ' %>
        <%= section.audio %><br><br>
        <%= audio_tag(section.audio_url, autoplay: false, controls: true) %>
      <% end %>
      <% if section.video? %>
        <%= 'Filename: ' %>
        <%= section.video %><br><br>
        <%= video_tag(section.video_url, autoplay: false, controls: true) %>
      <% end %>      
    </div>
  </div>
<% end %>
